/* general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFE;
  font-family: 'Fredoka', sans-serif;;
}

/* components */

.container {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}


/* utility */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.debug {
  background-color: hsla(160, 100%, 75%, 0.794);
  border: 1px solid black;
}


/* title */

h1.title {
  padding: 30px 0;
  text-align: center;
  color: #E53070;
}



/* main */

/* section subtitle */

main .subtitle {
  padding-bottom: 40px;
}

main .subtitle h2 {
  font-size: 0.9rem;
  font-weight: lighter;
  color: #382D40;
  text-align: center;
  padding: 0 16px;
}


/* section cards */


.col {
  width: calc(100% / 3 - 20px);
  float: left;
  background-color: #0F0D18;
  min-width: 344px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 35px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.items .row .col .card img {
  width: 100px;
  float: left;
  margin-right: 10px;
}

.items .row .col .card .contents {
  float: right;
  width: calc(100% - 100px - 16px);
}

.items .row .col .card .name {
  text-transform: uppercase;
  font-weight: 800;
  padding: 5px 0;
  color: #FFFEFF;
}

.items .row .col .card .qualify {
  font-weight: 400;
  font-size: 0.8rem;
  padding-bottom: 2px;
  color: #FFFEFF;
}

.items .row .col .card .email {
  color: #117BAD;
  font-size: 0.9rem;
  text-decoration: none;
}

.items .row .col .card .email:hover {
  text-decoration: underline;
}


/* footer */

footer p {
  padding: 30px 0;
  text-align: center;
}