/* general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFE;
  font-family: 'Fredoka', sans-serif;;
}

/* components */

.container {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}


/* utility */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.debug {
  background-color: hsla(160, 100%, 75%, 0.794);
  border: 1px solid black;
}


/* header */

header {
  height: 95px;
  background-color: #FFFFFE;
  padding-top: 30px;
}

header .title {
  text-align: center;
  color: #E53070;
}

/* main */

main .subtitle {
  padding-bottom: 40px;
}

main .subtitle h2 {
  font-size: 0.9rem;
  font-weight: lighter;
  color: #382D40;
  text-align: center;
}

